@import "{{ site.theme }}";
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.profile-container {
    position: absolute;
    top:40px;
    right: 5px;
    transform: translateY(-50%);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #110101;
}

.header-content {
    margin: 0 auto;
}

nav {
    background: #444;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 1rem;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.contact-icons {
    text-align: center;
    padding: 1rem 0;
}

.contact-icons a {
    margin: 0 10px;
}

.contact-icons img {
    width: 40px;
    height: 40px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
